body {
	background-color: #ffffff;
}

header {
	background-color: #ff7700;
	background-image: url("Zach2.jpg");
	background-position: right 5px top 5px;
	background-repeat: no-repeat;
	height: 90px; /* background-image height is 90 */
	padding: 5px;
	padding-left: 36px;
}

footer {
	background-color: #ff7700;
	color: navy;
	font-family: Verdana, Arial;
	text-align: center;
	font-size: 90%;
	padding: 5px;
}

#content {
	background-color: #ff7700;
	padding: 36px;
	min-height: 425px;
}

header, footer, #content {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

h1 {
	color: #000000;
	font-size: 300%;
	font-family: Cambria,Courier;
}

h2 {
	color: #000000;
	font-size: 200%;
	font-family: Verdana,Arial;
}

.floatImg {
	float: left;
	margin: 0px 10px;
}